@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --sidebar: #e0e4e7;
  --text-primary: #202020;
  --text-secondary: #5a6a73;
  --error: #cc0000;
  --link: #0071c3;
  --disabled: #b9c3cc;
  --cursor: rgba(15, 13, 13, 0.15);
}

.dark {
  --background: #36434d;
  --sidebar: #202020;
  --text-primary: #ffffff;
  --text-secondary: #8a9aa4;
  --error: #cc0000;
  --link: #0071c3;
  --disabled: #b9c3cc;
  --cursor:rgba(255, 255, 255, 0.2);
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none !important;
  overflow-x: hidden;
}

a {
  cursor: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--background);
  opacity: 0.3;
  pointer-events: none;
  z-index: 0;
}
