@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --sidebar: #E0E4E7;
  --text-primary: #202020;
  --text-secondary: #5A6A73;
  --error: #CC0000;
  --link: #0071C3;
  --disabled: #B9C3CC;
}

.dark {
  --background: #36434D;
  --sidebar: #202020;
  --text-primary: #FFFFFF;
  --text-secondary: #8A9AA4;
  --error: #CC0000;
  --link: #0071C3;
  --disabled: #B9C3CC;
}


body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
