.cursor {
    border-radius: 100%;
    mix-blend-mode: difference;
  }
  
  .cursorFollower {
    border-radius: 100%;
    left: -0.5rem;
    top: -0.5rem;
    background: var(--cursor);
    will-change: transform;
  }
  